<html>

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<title>Full Stack Nanodegree Project 3 - Catalog</title>
</head>


<body>
	<div class='pane'>
		
		<h1>Restaurant Menu</h1>
		
		{% for restaurant in restaurants %}	
			<a href = "{{url_for('showMenu', restaurant_id = restaurant.id)}}"> <p>Menu</p></a>	
		{% endfor %}	
	</div>
</body>

{% include 'footer.html' %}
</html>